@font-face {
    font-family: "med";
    src: url(../fuente/078MKSD_MC.TTF) format("truetype");

}

body {
    background-color: beige;

}

.btn-flotante {
    position: fixed;
    bottom: 30px;
    right: 30px;


}

header {
    background-color: rgb(207, 121, 99);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}



h1 {
    font-family: 'Ubuntu', sans-serif;
    /* punto 5*/
    font-size: 5em;
    /* punto 2*/
}

div {
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;


}

nav {
    display: flex;
    justify-content: space-around;
    margin: 5vh;
    /* punto 1*/

}



main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 500px;
    height: 200px;
    box-sizing: border-box;
    margin-left: 2%;
    /*punto 1*/
}



aside {
    margin: 10px;
}

h2 {
    font-family: "med";
    /* punto 4*/
    font-size: 2rem;
    /*punto 2*/

}

.fuente {
    font-size: large;
    text-align: left;
    width: 500px;
}


p {
    font-style: italic;
    /*punto 3*/
    color: rgb(87, 86, 86);
}



.rrss {
    background-color: black;
    width: 20vw;
    /*punto 1*/
    height: 250px;

}

.icon {

    width: 50px;
    height: 50px;

}

footer {
    background-color: rgb(67, 146, 84);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.misdatos {
    color: aliceblue;
    font-size: 1em;
}


a {
    color: blue;
    text-decoration: none;

}

/* a link {
    color: blue;
text-decoration: none;}
a :visited{color: blueviolet;}
a :hover {font-size: large;}





*/