@font-face {
    font-family: "med";
    src: url(../fuente/078MKSD_MC.TTF) format("truetype");

}

body {
    background-color: rgb(252, 252, 252);

}

.btn-flotante {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.cambiar {

    right: 30px;

}

.cambiar:hover {
    font-size: 1.3rem;
}

header {
    width: 100%;
    height: 200px;
    background-color: rgb(207, 121, 99);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

h1 {
    font-family: 'Ubuntu', sans-serif;

    font-size: 3em;

}

nav {
    display: flex;
    justify-content: space-around;
    margin: 5vh;
    flex-wrap: wrap;
}

@media (max-width:600px) {
    .nav {
        flex-direction: column;
        margin-left: 25%;
    }

    .link {
        margin-bottom: 45px;
    }
}

main {
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: bisque;
}

@media(min-width:550px) {
    .des {
        display: none;
    }
}


.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 10%;
}

.card-text {
    display: flex;
    justify-content: space-around;
}

p {
    font-style: italic;

    color: rgb(87, 86, 86);
}

.footer {
    background-color: rgb(83, 83, 83);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo {
    width: 15%;
}


.icon {

    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.rrss {
    border-radius: 30px;
    margin-bottom: 10px;
    margin: 30px;
    display: flex;


    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 10%;
    min-width: 300px;
}

a {
    color: blue;
    text-decoration: none;

}

.link {
    width: 25%;
    min-width: 300px;
    margin-bottom: 30px;
}

@media (max-width:600px) {
    .link {
        margin-bottom: 30px;
    }

    /* No esta funcionando ¿?   */
}





/* a link {
    color: blue;
text-decoration: none;}
a :visited{color: blueviolet;}
a :hover {font-size: large;}



div {

    border-radius: 30px;
    margin-bottom: 10px;
    margin: 30px;
    display: flex;


    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 10%;
    min-width: 300px;

}





aside {
    font-size: large;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


git: git config --global user.name "Tu nombre" git config --global user.email "tu@email.com"
Type your message here

js:
document.getElementById("nav").style.color = "black";

*/